# Mastering the Process of Data Science 2020/21

#### 3rd Notebook

#### Abduvosid Malikov

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Drinks.csv: number of alcohol servings per capita per year for 15 years of age or older (for beer, wine and spirit) across various countries

In [2]:
drinks = pd.read_csv('data/Drinks_processed.csv')

LifeExpectancy.csv: life expectancy and other health factors across various countries

In [3]:
life_expectancy = pd.read_csv('data/Life_Expectancy_processed.csv')

In [4]:
len(drinks)

193

In [5]:
len(life_expectancy)

194

drinks dataset contains 193 rows. 

life_expectancy dataset contains 194 rows. Which country is extra in life_expectancy dataset?

##### Merge drinks and lifetime data by country

In [6]:
drinks_life_expectancy = pd.merge(drinks, life_expectancy, left_on='country', right_on = 'CountryDisplay')

In [7]:
len(drinks_life_expectancy)

167

drinks dataset contains 193 rows. 

life_expectancy dataset contains 194 rows. 

But when we merge, we get 167 rows. Because pandas merge does inner join by default

This is the difference between the countries in the drinks dataset and life_expectancy dataset:

In [8]:
list(set(drinks.country.to_list() ) - set(life_expectancy.CountryDisplay.to_list()))

['Tanzania',
 'Iran',
 'Laos',
 'St. Lucia',
 'Timor-Leste',
 'Sao Tome & Principe',
 'United Kingdom',
 'Macedonia',
 'St. Kitts & Nevis',
 'Venezuela',
 "Cote d'Ivoire",
 'Trinidad & Tobago',
 'USA',
 'St. Vincent & the Grenadines',
 'Guinea-Bissau',
 'Syria',
 'Bosnia-Herzegovina',
 'South Korea',
 'Brunei',
 'Moldova',
 'Bolivia',
 'DR Congo',
 'Vietnam',
 'North Korea',
 'Micronesia',
 'Antigua & Barbuda']

In [52]:
len(drinks.country.to_list())

193

In [51]:
len(life_expectancy.CountryDisplay.to_list())

194

The official name of the country is written in the life_expectancy dataset. For example, United Kingdom is written as United Kingdom of Great Britain and Northern Ireland in life_expectancy.

This code helps us to find the match

In [11]:
matches = [match for match in life_expectancy.CountryDisplay.to_list() if "Tanzania" in match]

In [12]:
matches

['United Republic of Tanzania']

In [13]:
[match for match in life_expectancy.CountryDisplay.to_list() if "Macedonia" in match]

['The former Yugoslav republic of Macedonia']

In [14]:
[match for match in life_expectancy.CountryDisplay.to_list() if "Venezuela" in match]

['Venezuela (Bolivarian Republic of)']

In [15]:
[match for match in life_expectancy.CountryDisplay.to_list() if "Brunei" in match]

['Brunei Darussalam']

In [16]:
[match for match in life_expectancy.CountryDisplay.to_list() if "Syria" in match]

['Syrian Arab Republic']

In [17]:
[match for match in life_expectancy.CountryDisplay.to_list() if "Grenadines" in match]

['Saint Vincent and the Grenadines']

Here is the difference between the country name in drinks dataset and country name in life_expectancy dataset. 

drinks | life_expectancy

Cote d'Ivoire | CÃ´te d'Ivoire

Laos | Lao People's Democratic Republic

Guinea-Bissau | Guinea_Bissau

South Korea | Republic of Korea

United Kingdom | United Kingdom of Great Britain and Northern Ireland

North Korea | Democratic People's Republic of Korea 

Trinidad & Tobago | Trinidad and Tobago

Sao Tome & Principe | Sao Tome and Principe

DR Congo | Democratic Republic of the Congo

Bosnia-Herzegovina | Bosnia and Herzegovina

Tanzania | United Republic of Tanzania

USA | United States of America

Macedonia | The former Yugoslav republic of Macedonia

Venezuela | Venezuela (Bolivarian Republic of) 

Timor-Leste | Timor_Leste

Antigua & Barbuda | Antigua and Barbuda

Brunei | Brunei Darussalam

St. Kitts & Nevis | Saint Kitts and Nevis

Iran | Iran (Islamic Republic of)

St. Lucia | Saint Lucia

Micronesia | Micronesia (Federated States of)

Bolivia | Bolivia (Plurinational State of)

Moldova | Republic of Moldova

Vietnam | Viet Nam

Syria | Syrian Arab Republic

St. Vincent & the Grenadines | Saint Vincent and the Grenadines

In [18]:
drinks[drinks['country'] == "Cote d'Ivoire"]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
41,Cote d'Ivoire,37,1,7,0.7965

In [19]:
drinks.at[41, 'country'] = "CÃ´te d'Ivoire"

In [20]:
drinks.at[91, 'country'] = "Lao People's Democratic Republic"

In [21]:
drinks.iloc[91]

country                         Lao People's Democratic Republic
beer_servings                                                 62
spirit_servings                                                0
wine_servings                                                123
total_litres_of_pure_alcohol                              3.2745
Name: 91, dtype: object

In [22]:
row_n = drinks[drinks['country'] == "Guinea-Bissau"].index
drinks.at[row_n, 'country'] = "Guinea_Bissau"

In [23]:
row_n = drinks[drinks['country'] == "South Korea"].index
drinks.at[row_n, 'country'] = "Republic of Korea"

In [24]:
row_n = drinks[drinks['country'] == "United Kingdom"].index
drinks.at[row_n, 'country'] = "United Kingdom of Great Britain and Northern Ireland"

In [25]:
row_n = drinks[drinks['country'] == "North Korea"].index
drinks.at[row_n, 'country'] = "Democratic People's Republic of Korea"

In [26]:
row_n = drinks[drinks['country'] == "Trinidad & Tobago"].index
drinks.at[row_n, 'country'] = "Trinidad and Tobago"

In [27]:
row_n = drinks[drinks['country'] == "Sao Tome & Principe"].index
drinks.at[row_n, 'country'] = "Sao Tome and Principe"

In [28]:
row_n = drinks[drinks['country'] == "DR Congo"].index
drinks.at[row_n, 'country'] = "Democratic Republic of the Congo"

In [29]:
row_n = drinks[drinks['country'] == "Bosnia-Herzegovina"].index
drinks.at[row_n, 'country'] = "Bosnia and Herzegovina"

In [30]:
row_n = drinks[drinks['country'] == "Tanzania"].index
drinks.at[row_n, 'country'] = "United Republic of Tanzania"

In [31]:
row_n = drinks[drinks['country'] == "USA"].index
drinks.at[row_n, 'country'] = "United States of America"

In [32]:
row_n = drinks[drinks['country'] == "Macedonia"].index
drinks.at[row_n, 'country'] = "The former Yugoslav republic of Macedonia"

In [33]:
row_n = drinks[drinks['country'] == "Venezuela"].index
drinks.at[row_n, 'country'] = "Venezuela (Bolivarian Republic of)"

In [34]:
row_n = drinks[drinks['country'] == "Timor-Leste"].index
drinks.at[row_n, 'country'] = "Timor_Leste"

In [35]:
row_n = drinks[drinks['country'] == "Antigua & Barbuda"].index
drinks.at[row_n, 'country'] = "Antigua and Barbuda"

In [36]:
row_n = drinks[drinks['country'] == "Brunei"].index
drinks.at[row_n, 'country'] = "Brunei Darussalam"

In [37]:
row_n = drinks[drinks['country'] == "St. Kitts & Nevis"].index
drinks.at[row_n, 'country'] = "Saint Kitts and Nevis"

In [38]:
row_n = drinks[drinks['country'] == "Iran"].index
drinks.at[row_n, 'country'] = "Iran (Islamic Republic of)"

In [39]:
row_n = drinks[drinks['country'] == "St. Lucia"].index
drinks.at[row_n, 'country'] = "Saint Lucia"

In [40]:
row_n = drinks[drinks['country'] == "Micronesia"].index
drinks.at[row_n, 'country'] = "Micronesia (Federated States of)"

In [41]:
row_n = drinks[drinks['country'] == "Bolivia"].index
drinks.at[row_n, 'country'] = "Bolivia (Plurinational State of)"

In [42]:
row_n = drinks[drinks['country'] == "Moldova"].index
drinks.at[row_n, 'country'] = "Republic of Moldova"

In [43]:
row_n = drinks[drinks['country'] == "Vietnam"].index
drinks.at[row_n, 'country'] = "Viet Nam"

In [44]:
row_n = drinks[drinks['country'] == "Syria"].index
drinks.at[row_n, 'country'] = "Syrian Arab Republic"

In [45]:
row_n = drinks[drinks['country'] == "St. Vincent & the Grenadines"].index
drinks.at[row_n, 'country'] = "Saint Vincent and the Grenadines"

In [46]:
drinks[drinks['country'] == "Timor_Leste"]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
172,Timor_Leste,1,1,4,0.1062

In [47]:
drinks.iloc[172]

country                         Timor_Leste
beer_servings                             1
spirit_servings                           1
wine_servings                             4
total_litres_of_pure_alcohol         0.1062
Name: 172, dtype: object

In [48]:
drinks_life_expectancy = pd.merge(drinks, life_expectancy, left_on='country', right_on = 'CountryDisplay')

In [49]:
len(drinks_life_expectancy)

193

Now when we merge, we get 193 rows (not 167 rows as it was previously)

In [50]:
drinks_life_expectancy.to_csv('data/Drinks_Life_expectancy.csv', index=False)